body {
    font-family: 'Arial', sans-serif;
}

.main {
    width: 800px;
    height: auto;
    margin: auto;
    padding-bottom: 300px;
}

.content {
    max-width: 600px;
}

.content img {
    border-radius: 4px;
}

.hljs {
    border-radius: 6px;
}